.cache/
auto-save-list/
backups/
elpa/
elpaca/
eshell/
games/
url/
emojis/
eln-cache/
var/
transient/history.el
.lsp-session*
.org-id-locations
*.elc
config.el
emacs-custom.el
ido.last
projectile-bookmarks.eld
projectile.cache
projects
recentf
tramp
history
bookmarks